
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}


body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 30rem;
}

.progress-done {
	background: rgb(65, 168, 221);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 1s ease 0.3s;
}

.stock{
	margin-top: 2rem;
	background: none;
	border: none;
	outline: none;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: white;
	background: rgb(65, 168, 221);



}